.bar {
    height: 6em;
    background-color: rgba(0, 0, 0, 0.45);
    display: flex;
    align-items: center; /* Ajuste: align-items en lugar de align-content */
    padding: 8px;
    width: 100%;
}

.contimgLogo {
    display: inline;
    width: 50%;
    padding-left: 30px;
}

.imgLogo {
    width: 105px;
    margin-top: 9px;
}

.botonera {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
}

.but {
    border: 3px solid transparent; /* Ajuste: border en lugar de border-style */
    border-radius: 8%;
    margin: 20px;
    padding: 5px 15px; /* Ajuste: Aumenta el espacio interior */
    cursor: pointer;
    background-color: rgb(3, 100, 119); /* Fondo transparente */
    color: rgba(255, 255, 255, 0.9); /* Texto blanco */
    transition: background-color 0.3s, color 0.3s; /* Transición para el color de fondo y texto */
}

.but span {
    transition: all 0.3s;
}

.but:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Cambia el color de fondo en hover */
    color: rgba(255, 255, 255, 0.95); /* Cambia el color del texto en hover */
}

.but:hover span {
    letter-spacing: 2px;
}

@media (max-width: 415px) {
    .bar {
        height: 4.5em;
        background-color: rgba(0, 0, 0, 0.45);
        display: flex;
        align-items: center; /* Ajuste: align-items en lugar de align-content */
        padding: 5px;
        width: 100%;
    }

    .contimgLogo {
        display: inline;
        width: 50%;
        padding-left: 20px;
    }

    .imgLogo {
        width: 85px;
        margin-top: 5px;
    }

    .botonera {
        width: 50%;
        display: flex;
        justify-content: flex-end;
        padding-right: 10px;
    }

    .but {
        border: 2px solid transparent; /* Ajuste: border en lugar de border-style */
        border-radius: 5%;
        margin: 6px;
        padding: 5px 10px; /* Ajuste: Aumenta el espacio interior */
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.45); /* Fondo transparente */
        color: rgba(255, 255, 255, 0.9); /* Texto blanco */
        height: 40px; /* Ajuste: Altura para dispositivos pequeños */
    }
}

@media (max-width: 320px) {
    .bar {
        height: 4.5em;
        background-color: rgba(0, 0, 0, 0.45);
        display: flex;
        align-items: center; /* Ajuste: align-items en lugar de align-content */
        padding: 5px;
        width: 100%;
    }

    .contimgLogo {
        display: inline;
        width: 50%;
        padding-left: 20px;
    }

    .imgLogo {
        width: 80px;
        margin-top: 5px;
    }

    .botonera {
        width: 50%;
        display: flex;
        justify-content: flex-end;
        padding-right: 0px; /* Ajuste: Sin padding derecho en dispositivos muy pequeños */
    }

    .but {
        border: 2px solid transparent; /* Ajuste: border en lugar de border-style */
        border-radius: 5%;
        margin: 6px;
        padding: 5px 10px; /* Ajuste: Aumenta el espacio interior */
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.45); /* Fondo transparente */
        color: rgba(255, 255, 255, 0.9); /* Texto blanco */
        height: 40px; /* Ajuste: Altura para dispositivos muy pequeños */
    }
}
